body{
    background:url("img/bg.jpg") no-repeat center center fixed;
    background-size:cover;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.headtitle {
    font-size: 19px;
    font-family: arial;
    font-weight: inherit;
    padding-top: 52px;
}
.x_container {
    position: relative;
    height: 704px;
    width: 559px;
    background-color: #6f4e6b;
    top: 23px;
    border-radius: 20px;
    border: solid;
    border-width: 3px;
    border-color: #16191c;
}
.f_container {
    position: relative;
    height: 704px;
    width: 559px;
    background-color: #6f4e6b;
    top: 23px;
    border-radius: 20px;
    border: solid;
    border-width: 3px;
    border-color: #16191c;
}
input{
    border: solid;
    border-width: 1px;
    height: 27px;
    border-radius: 4px;
}
form{
    width: 219px;
}
