@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@700&display=swap');
body{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background-image: url("img/icons/bgm.jpg");
    background-size: cover;
    background-attachment: fixed;
}
nav {
    background: #caebf2;
    padding-top: 1px;
    height: 140px;
    position: fixed;
    width: 100%;
}
.srch-nav{
    position: relative;
    right: -1%;
    height: 53px;
    font-size: 37px;
    border: none;
    background: none;
    border-bottom: solid 6px#ffffff;
    font-family: 'Public Sans', sans-serif;
    top: -3px;
    outline: none;
    color: #ffffff;
}
input[name="srch"]::placeholder {
    color: #ffffff;
}
.search {
    color: #ffffff;
    font-size: 40px;
    position: relative;
    padding-left: 55px;
    padding-top: 25px;
}
nav a {
    text-decoration: none;
    color: #fff;
    font-size: 36px;
    font-family: 'Public Sans', sans-serif;
    background: #ff3b3f;
    padding: 20px 15px 20px 15px;
    border-radius: 5px;
    position: absolute;
    right: 27px;
    top: 27px;
}
.sidenav {
    height: 100%;
    width: 487px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #caebf2;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .cbtnContainer {
    color: red;
    font-weight: bold;
    background: white;
    border-radius: 28px;
    font-size: 49px;
    position: relative;
    top: 33px;
    right: -31px;
  }
  
  .sidenav a {
    padding: 20px 32px 20px 32px;
    text-decoration: none;
    font-size: 54px;
    color: #818181;
    display: block;
    transition: 0.1s;
    font-family: 'Public Sans', sans-serif;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: -6px;
    right: -19px;
    font-size: 36px;
    margin-left: 50px;
    color: #2222;
    border-radius: 38px;
    height: 58px;
  }
  .snav-wrapper {
    position: absolute;
    top: 321px;
    right: 89px;
}
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .user-img-container {
    position: absolute;
    top: -248px;
    left: 167px;
    }
  .user-img-container h1 {
      font-family: 'Public Sans', sans-serif;
      font-size: 33px;
  }
  .tit-holder{
    width: 100%;
    height: 99px;
    font-size: 47px;
    font-family: 'Public Sans', sans-serif;
    background: #96cbbb;
    color: #f1f1f1;
    position: fixed;
    top: 138px;
  }
  table {
    position: absolute;
    top: 239px;
    z-index: -1;
  }
  table, tr, td {
    text-align: center;
  }
  table, tr, th, td {
    border-collapse: collapse;
    font-size: 34px;
    border: 2px solid #222;
    font-family: 'Public Sans', sans-serif;
    }
    .pname-s {
        background: #caebf2;
        color: #818181;
    }
    .oprt-btn {
        text-decoration: none;
        color: #f1f1f1;
    }
    .oprt-btn-dl {
      text-decoration: none;
      color: #222;
  }
    .btn-wrapper-ed {
        background: #ff3b3f;
    }
    .title {
        text-align: center;
        border: none;
    }
    .edit-btn {
        text-align: center;
        height: 58px;
        width: 100%;
        font-size: 26px;
        background: #ff3b3f;
        border: none;
        font-family: 'Public Sans', sans-serif;
        color: white;
    }
